<div id="tab_data">
  <fieldset class="my-fieldset">
    <legend class="my-fieldset colored-title"><%= subtitle %></legend>
    <div class="row">

      <div class="col-sm-12">

        <%= form_errors_for @register %>

        <div class="row">
          <div class="col-sm-6">

            <div class="row">
              <div class="form-group col-sm-4">
                <p><strong><%= Register.human_attribute_name(:register_no) %></strong></p>
                <%= @register.register_no %>
              </div>

              <div class="form-group col-sm-8">
                <p><strong><%= Register.human_attribute_name(:register_status) %></strong></p>
<!--            <span class="text-danger"><%#= @register.register_status.name %></span>  --> 
                <%= @register.register_status.name %>
              </div>
            </div>

            <div class="row">
              <%if @register.proposal_registration_approved.present?  %>
                <div class="form-group col-sm-4">
                  <p><strong><%= Register.human_attribute_name(:proposal_registration_approved) %></strong></p>
                  <%= link_to(@register.proposal_registration_approved.fullname, proposal_path(@register.service_type, @register.proposal_registration_approved)) %>
                </div>
              <% end %>

              <%if @register.proposal_current_approved.present?  %>
                <div class="form-group col-sm-4">
                  <p><strong><%= Register.human_attribute_name(:proposal_current_approved) %></strong></p>
                  <%= link_to(@register.proposal_current_approved.fullname, proposal_path(@register.service_type, @register.proposal_current_approved)) %>
                </div>
              <% end %>

              <%if @register.proposal_deletion_approved.present?  %>
                <div class="form-group col-sm-4">
                  <p><strong><%= Register.human_attribute_name(:proposal_deletion_approved) %></strong></p>
                  <%= link_to(@register.proposal_deletion_approved.fullname, proposal_path(@register.service_type, @register.proposal_deletion_approved)) %>
                </div>
              <% end %>
            </div>

            <div class="row">
              <div class="form-group col-sm-12">
                <p><strong><%= Register.human_attribute_name(:organization) %></strong></p>
                <%= link_to(@register.organization.fullname_with_nip, organization_path(@register.organization)) %>
              </div>
            </div>
            
          </div>  <!-- /col-sm-6 -->


          <div class="col-sm-6">

            <div class="row">
              <div class="form-group col-sm-12">
                <% if @register.note.html_safe.size > 0 %>
                  <blockquote>
                    <%= @register.note.html_safe %>
                  </blockquote>
                <% end %>
              </div>
            </div>  <!-- /row -->
            
          </div>  <!-- /col-sm-6 -->
        </div>  <!-- /row -->


        <hr class="hr-without-top-margin">

        <div class="row">
          <div class="col-sm-12">

            <% if policy(@register).destroy? %>
              <%= link_to register_path(@register),
                                  method: :delete,
                                  data: { confirm: t('helpers.links.confirm_destroy', data: @register.name) }, 
                                  class: "btn btn-danger" do %>
                <span class="fa fa-trash"></span>
                <%= t("helpers.links.destroy") %>
              <% end %>
            <% end %>

            <% if policy(@register).edit? %>
              <%= link_to edit_register_path(@register), class: "btn btn-primary" do %>
                <span class="fa fa-edit"></span>
                <%= t("helpers.links.edit") %>
              <% end %>
            <% end %>

            <h6 class="pull-right"><%= last_updated_legend(@register) %></h6>

          </div> <!--/col-sm-12 -->
        </div> <!-- /row -->

      </div> <!--/col-sm-12-->  

    </div>
  </fieldset>

</div>