<div class="row">
  <div class="col-sm-12">

    <%= render "/proposals/data_1_basic", proposal: @proposal_candidate %>
    <%= render "/proposals/data_2_#{@proposal_candidate.service_type}", proposal: @proposal_candidate %>
    <%= render "/proposals/data_3_areas", proposal: @proposal_candidate if ['j','t'].include?(@proposal_candidate.service_type) %>
    <%= render "/proposals/data_4_attachments", proposal: @proposal_candidate %>
    <!-- input forms: -->
    <%= render "/proposals/form_5_schedules", 
        f: f, 
        proposal: @proposal_candidate, 
        start_date_read_only: [ProposalType::PROPOSAL_TYPE_DELETION, ProposalType::PROPOSAL_TYPE_CERTIFICATE].include?(@proposal_candidate.proposal_type_id),
        end_date_read_only: [ProposalType::PROPOSAL_TYPE_CERTIFICATE].include?(@proposal_candidate.proposal_type_id) %>

    <%= render "/proposals/form_6_note", f: f, proposal: @proposal_candidate  %>

    <hr>

  </div> <!--/col-sm-12 -->
</div> <!--/row -->
