<div id="tab_roles">
  <fieldset class="my-fieldset">
    <legend class="my-fieldset colored-title"><%= subtitle %>&nbsp;&nbsp;-&nbsp;&nbsp;<%= role_index_legend %></legend>

    <div class="row">
      <div class="col-sm-12">
        <table id="user-roles-table" class="hover cell-border compact" width="100%" 
          data-source="<%= datatables_index_for_user_roles_path(user_id: @user.id, format: :json) %>",
          data-locale_url="<%= datatables_lang_path(format: :json) %>">
          <thead>
            <tr>
              <th>ID</th>
              <th><%= Role.human_attribute_name(:name) %></th>
              <th><%= Role.human_attribute_name(:activities) %></th>
              <th><%= t('table_role_granted') %></th>
              <th><%= t('table_action') %></th>
            </tr>
          </thead>
          <tbody>
             <!--data from JSON -->
          </tbody>
        </table>
      </div> <!--/col-sm-12 -->
    </div> <!--/row -->

  </fieldset>
</div>