<div id="tab_versions">
  <fieldset class="my-fieldset">
    <legend class="my-fieldset colored-title"><%= subtitle %>&nbsp;&nbsp;-&nbsp;&nbsp;<%=  version_index_legend %></legend>

    <div class="row">
      <div class="col-sm-12">
        <table id="trackable-versions" class="hover cell-border compact" width="100%" 
          data-source="<%= datatables_index_trackable_versions_path(trackable_id: trackable_id, trackable_type: trackable_type, format: :json) %>",
          data-locale_url="<%= datatables_lang_path(format: :json) %>">         
          <thead>
            <tr>
            <th><%= Version.human_attribute_name(:id) %></th>
            <th><%= Version.human_attribute_name(:created_at) %></th>
            <th><%= Version.human_attribute_name(:transaction_id) %></th>
            <th><%= Version.human_attribute_name(:created_by) %></th>
            <th><%= Version.human_attribute_name(:event) %></th>
            <th><%= Version.human_attribute_name(:trackable_type) %></th>
            <th><%= Version.human_attribute_name(:trackable_id) %></th>
            <!-- <th><%#= Version.human_attribute_name(:item_subtype) %></th> -->
            <th><%= Version.human_attribute_name(:object_changes) %></th>
            <th><%= Version.human_attribute_name(:parameters) %></th>
            </tr>
          </thead>

          <tbody>                    
            <!--data from JSON -->
          </tbody>

        </table>
      </div>
    </div>

  </fieldset>
</div>
