<%= javascript_include_tag "teryt_is_required" %>
<%= javascript_include_tag "api_teryt_address" %>

<div class="fields collored-subfields scale-in-br">

  <%= f.hidden_field :province_code %>
  <%= f.hidden_field :district_code %>
  <%= f.hidden_field :commune_code %>


  <%= f.hidden_field :city_code %>

  <%= f.hidden_field :parent_city_code %>
  <%= f.hidden_field :parent_city_name %>

  <%= f.hidden_field :street_code %>

  <div class="row">
    <div class="form-group required col-sm-9">
      <%= f.select :address_type_id, 
            FeatureType.only_address_type.order(:name).collect {|v| [ "#{v[:name]}", v[:id] ] },
            { include_blank: false }, 
            { autofocus: false, class: 'form-control input-sm' } %>
    </div>

    <div class="form-group col-sm-3">
      <% if f.object.marked_for_destruction? %>
 
<!--
        <%#= f.check_box :_destroy %>
        <%#= f.label :_destroy, class: 'control-label', title: t('tooltip.confirm_remove_fields_nested'), rel: 'tooltip' %>
 -->

        <label class="btn btn-sm btn-danger control-label pull-right" role="button", title="<%=t('tooltip.confirm_remove_fields_nested')%>", rel='tooltip'>
          <%= f.check_box :_destroy %>
          <span></span>
          &nbsp;&nbsp;<%= f.object.class.human_attribute_name(:_destroy) %>
        </label>

      <% else %>
        <%= f.hidden_field :_destroy %>
        <%= link_to t("helpers.links.link_to_remove_fields_nested"), '#',
          onClick: "removeNestedFields(this); return false;", class: 'remove-link-button btn btn-sm btn-danger pull-right', title: t('tooltip.remove_fields_nested'), rel: 'tooltip' %>
        <% end %>
    </div>
  </div>

  <div class="row">
    <div class="form-group required col-sm-12">
      <%= f.label :country_code, class: 'control-label' %>
      <%= f.country_select :country_code, priority_countries = ["pl"], options = {}, onchange: "terytIsRequired(this.value, this)", class: "form-control input-sm init_fire_teryt_is_required" %>
    </div>

    <div class="form-group required col-sm-12">
      <%= f.label :address_combine_id, class: "control-label" %> 
      <%= f.hidden_field :address_combine_id, 
                        class: "form-control input-sm select2teryt_address", 
                        placeholder: "Wyszukaj adres",
                        style: "width:100%",
                        autofocus: false %>
    </div>
  </div>

  <div class="row">
    <div class="form-group required col-sm-4">
      <%= f.label :province_name, class: 'control-label' %>
      <%= f.text_field :province_name, class: 'form-control input-sm' %>
    </div>

    <div class="form-group required col-sm-4">
      <%= f.label :district_name, class: 'control-label' %>
      <%= f.text_field :district_name, class: 'form-control input-sm' %>
    </div>
 
    <div class="form-group required col-sm-4">
      <%= f.label :commune_name, class: 'control-label' %>
      <%= f.text_field :commune_name, class: 'form-control input-sm' %>
    </div>
  </div>

  <div class="row">
    <div class="form-group required col-sm-5">
      <%= f.label :city_name, class: 'control-label' %>
      <%= f.text_field :city_name, class: 'form-control input-sm' %>
    </div>

    <div class="form-group col-sm-2">
      <%= f.label :street_attribute, class: 'control-label' %>
      <%= f.text_field :street_attribute, class: 'form-control input-sm' %>
    </div>
 
    <div class="form-group col-sm-5">
      <%= f.label :street_name, class: 'control-label' %>
      <%= f.text_field :street_name, class: 'form-control input-sm' %>
    </div>
  </div>

  <div class="row">
    <div class="form-group required col-sm-2">
      <%= f.label :address_house, class: 'control-label' %>
      <%= f.text_field :address_house, class: 'form-control input-sm' %>
    </div>

    <div class="form-group col-sm-2">
      <%= f.label :address_number, class: 'control-label' %>
      <%= f.text_field :address_number, class: 'form-control input-sm' %>
    </div>

    <div class="form-group required col-sm-3">
      <%= f.label :address_postal_code, class: 'control-label' %>
      <%= f.text_field :address_postal_code, class: 'form-control input-sm' %>
    </div>

  </div>

</div>


<script type="text/javascript">

  var list = document.getElementsByClassName("init_fire_teryt_is_required");
  for (var i = 0; i < list.length; i++) {
    $(list[i]).change();
  };

</script>