<div id="tab_data">
  <fieldset class="my-fieldset">
    <legend class="my-fieldset colored-title"><%= subtitle %></legend>
    <div class="row">

      <div class="col-sm-12">

        <%= form_errors_for proposal %>

        <%= render "data_1_basic", proposal: proposal %>
        <%= render "data_2_#{proposal.service_type}", proposal: proposal %>
        <%= render "data_3_areas", proposal: proposal if ['j','t'].include?(proposal.service_type) %>
        <%= render "data_4_attachments", proposal: proposal %>
        <%= render "data_5_schedules", proposal: proposal %>
        <%= render "data_6_note", proposal: proposal %>
        <%= render "data_7_status_comment", proposal: proposal %>


        <hr class="hr-with-minimum-margins">

        <div class="row">
          <div class="col-sm-12">


            <% if proposal_policy_check(proposal, 'destroy', proposal.service_type) %>
              <%= link_to proposal_path(proposal.service_type, proposal),
                                  method: :delete,
                                  data: { confirm: t('helpers.links.confirm_destroy', data: proposal.fullname) }, 
                                  class: "btn btn-danger" do %>
                <span class="fa fa-trash"></span>
                <%= t("helpers.links.destroy") %>
              <% end %>
            <% end %>

            <% if proposal_policy_check(proposal, 'edit', proposal.service_type) %>
              <%= link_to edit_proposal_path(proposal.service_type, proposal), class: "btn btn-primary" do %>
                <span class="fa fa-edit"></span>
                <%= t("helpers.links.edit") %>
              <% end %>
            <% end %>


            <% if proposal_policy_check(proposal, 'edit_to_approved', proposal.service_type) %>
              <%= link_to edit_to_approved_proposal_path(proposal.service_type, proposal), class: "btn btn-primary" do %>
                <span class="fa fa-check-square"></span>
                <%= t("helpers.links.proposal_to_approved") %>
              <% end %>
            <% end %>

            <% if proposal_policy_check(proposal, 'edit_to_rejected', proposal.service_type) %>
              <%= link_to edit_to_rejected_proposal_path(proposal.service_type, proposal), class: "btn btn-primary" do %>
                <span class="fa fa-ban"></span>
                <%= t("helpers.links.proposal_to_rejected") %>
              <% end %>
            <% end %>

            <% if proposal_policy_check(proposal, 'edit_to_annuled', proposal.service_type) %>
              <%= link_to edit_to_annuled_proposal_path(proposal.service_type, proposal), class: "btn btn-primary" do %>
                <span class="fa fa-ban"></span>
                <%= t("helpers.links.proposal_to_annuled") %>
              <% end %>
            <% end %>


            <h6 class="pull-right"><%= last_updated_legend(proposal) %></h6>

          </div> <!--/col-sm-12 -->
        </div> <!-- /row -->

      </div> <!--/col-sm-12-->  

    </div>
  </fieldset>

</div>