<div id="tab_data">
  <fieldset class="my-fieldset">
    <legend class="my-fieldset colored-title"><%= subtitle %></legend>
    <div class="row">

      <div class="col-sm-12">

        <%= form_errors_for @proposal %>

        <div class="row">
          <div class="col-sm-6">

            <div class="row">
              <div class="form-group col-sm-4">
                <p><strong><%= Proposal.human_attribute_name(:insertion_date) %></strong></p>
                <%= formated_date(@proposal.insertion_date) %>
              </div>

              <div class="form-group col-sm-4">
                <p><strong><%= Proposal.human_attribute_name(:proposal_type) %></strong></p>
                <%= @proposal.proposal_type.name %>
              </div>

              <div class="form-group col-sm-4">
                <p><strong><%= Proposal.human_attribute_name(:proposal_status) %></strong></p>
                <%= @proposal.proposal_status.name %>
              </div>
            </div>

            <div class="row">
              <div class="form-group col-sm-12">
                <p><strong><%= Proposal.human_attribute_name(:organization) %></strong></p>
                <%= link_to(@proposal.organization.fullname, organization_path(@proposal.organization)) %>
              </div>

              <%if @proposal.register.present?  %>
                <div class="form-group col-sm-12">
                  <p><strong><%= Proposal.human_attribute_name(:register) %></strong></p>
                  <%= link_to(@proposal.register.fullname, register_path(@proposal.service_type, @proposal.register)) %>
                </div>
              <% end %>
            </div>
            
          </div>  <!-- /col-sm-6 -->


          <div class="col-sm-6">

            <div class="row">
              <div class="form-group col-sm-12">
                <% if @proposal.note.html_safe.size > 0 %>
                  <blockquote>
                    <%= @proposal.note.html_safe %>
                  </blockquote>
                <% end %>
              </div>
            </div>  <!-- /row -->
            
          </div>  <!-- /col-sm-6 -->

        </div>  <!-- /row -->

        <div class="row">

          <div class="form-group col-sm-12">
            <fieldset class="my-fieldset-short">
              <legend class="my-fieldset"><%= t('proposals.fieldset.proposal_networks_title') %></legend>

              <div class="row">
                <div class="form-group col-sm-12">

                  <!-- header for partial -->
                  <div class="row" >
                    <div class="form-group required col-sm-5">
                      <strong><%= ProposalNetwork.human_attribute_name(:network_type) %></strong>
                    </div>
                    <div class="form-group required col-sm-6">
                      <strong><%= ProposalNetwork.human_attribute_name(:description) %></strong>
                    </div>
                  </div>

                  <%= render partial: "proposal_networks/proposal_network", collection: @proposal.proposal_networks, as: :proposal_network %>
                  <%#= render @proposal.proposal_networks %>


                  <hr>

                  <!-- header for partial -->
                  <div class="row" >
                    <div class="form-group required col-sm-3">
                      <strong><%= ProposalService.human_attribute_name(:service_type) %></strong>
                    </div>
                    <div class="form-group required col-sm-4">
                      <strong><%= ProposalService.human_attribute_name(:description) %></strong>
                    </div>
                    <div class="form-group required col-sm-2">
                      <strong><%= ProposalService.human_attribute_name(:only_wholesale) %></strong>
                    </div>
                    <div class="form-group required col-sm-2">
                      <strong><%= ProposalService.human_attribute_name(:only_resale) %></strong>
                    </div>
                  </div>

                  <%= render partial: "proposal_services/proposal_service", collection: @proposal.proposal_services, as: :proposal_service %>



                </div>
              </div> <!--/row -->

            </fieldset>
          </div>

        </div>  <!-- /row -->

        <div class="row">

          <div class="form-group col-sm-12">
            <fieldset class="my-fieldset-short">
              <legend class="my-fieldset"><%= t('proposals.fieldset.proposal_area_title') %></legend>

              <div class="row">
                <div class="form-group col-sm-12">
                  <p><strong><%= Proposal.human_attribute_name(:activity_area_whole_poland) %></strong></p>
                  <%= t(@proposal.activity_area_whole_poland) %>
                </div>
              </div> <!--/row -->

              <% unless @proposal.activity_area_whole_poland %>
                <div class="row">
                  <div class="form-group col-sm-11 col-sm-offset-1">
                    <fieldset class="my-fieldset-short">
                    <legend class="my-fieldset"><%= t('proposals.fieldset.proposal_another_areas_title') %></legend>
                      <!-- header for partial -->
                      <div class="row" >
                        <div class="form-group required col-sm-3">
                          <strong><%= ProposalArea.human_attribute_name(:province_name) %></strong>
                        </div>
                        <div class="form-group required col-sm-3">
                          <strong><%= ProposalArea.human_attribute_name(:district_name) %></strong>
                        </div>
                        <div class="form-group required col-sm-4">
                          <strong><%= ProposalArea.human_attribute_name(:commune_name) %></strong>
                        </div>
                      </div>

                      <%= render partial: "proposal_areas/proposal_area", collection: @proposal.proposal_areas, as: :proposal_area %>

                    </fieldset>
                  </div>
                </div> <!--/row -->

              <% end %>

            </fieldset>
          </div>

        </div>  <!-- /row -->

        <div class="row">

          <div class="form-group col-sm-4">
            <fieldset class="my-fieldset-short">
              <legend class="my-fieldset"><%= t('proposals.fieldset.proposal_scheduled_title') %></legend>

              <div class="row">

                <div class="form-group col-sm-6">
                  <p><strong><%= Proposal.human_attribute_name(:scheduled_start_date) %></strong></p>
                  <%= formated_date(@proposal.scheduled_start_date) %>
                </div>

                <div class="form-group col-sm-6">
                  <p><strong><%= Proposal.human_attribute_name(:scheduled_end_date) %></strong></p>
                  <%= formated_date(@proposal.scheduled_end_date) %>
                </div>

              </div> <!--/row -->

            </fieldset>
          </div>

        </div>  <!-- /row -->



        <hr class="hr-with-minimum-margins">

        <div class="row">
          <div class="col-sm-12">


            <% if proposal_policy_check(@proposal, 'destroy', @proposal.service_type) %>
              <%= link_to proposal_path(@proposal.service_type, @proposal),
                                  method: :delete,
                                  data: { confirm: t('helpers.links.confirm_destroy', data: @proposal.fullname) }, 
                                  class: "btn btn-danger" do %>
                <span class="fa fa-trash"></span>
                <%= t("helpers.links.destroy") %>
              <% end %>
            <% end %>

            <% if proposal_policy_check(@proposal, 'edit', @proposal.service_type) %>
              <%= link_to edit_proposal_path(@proposal.service_type, @proposal), class: "btn btn-primary" do %>
                <span class="fa fa-edit"></span>
                <%= t("helpers.links.edit") %>
              <% end %>
            <% end %>

            <h6 class="pull-right"><%= last_updated_legend(@proposal) %></h6>

          </div> <!--/col-sm-12 -->
        </div> <!-- /row -->

      </div> <!--/col-sm-12-->  

    </div>
  </fieldset>

</div>