<h2>/views/proposals/_data_t</h2>
<div class="row">

  <div class="form-group col-sm-12">
    <fieldset class="my-fieldset-short">
      <legend class="my-fieldset"><%= t('proposals.fieldset.proposal_networks_title') %></legend>

      <div class="row">
        <div class="form-group col-sm-12">

          <!-- header for partial -->
          <div class="row" >
            <div class="form-group required col-sm-5">
              <strong><%= ProposalNetwork.human_attribute_name(:network_type) %></strong>
            </div>
            <div class="form-group required col-sm-6">
              <strong><%= ProposalNetwork.human_attribute_name(:description) %></strong>
            </div>
          </div>

          <%= render partial: "proposal_networks/proposal_network", collection: @proposal.proposal_networks, as: :proposal_network %>
          <%#= render @proposal.proposal_networks %>


          <hr>

          <!-- header for partial -->
          <div class="row" >
            <div class="form-group required col-sm-3">
              <strong><%= ProposalService.human_attribute_name(:service_type) %></strong>
            </div>
            <div class="form-group required col-sm-4">
              <strong><%= ProposalService.human_attribute_name(:description) %></strong>
            </div>
            <div class="form-group required col-sm-2">
              <strong><%= ProposalService.human_attribute_name(:only_wholesale) %></strong>
            </div>
            <div class="form-group required col-sm-2">
              <strong><%= ProposalService.human_attribute_name(:only_resale) %></strong>
            </div>
          </div>

          <%= render partial: "proposal_services/proposal_service", collection: @proposal.proposal_services, as: :proposal_service %>



        </div>
      </div> <!--/row -->

    </fieldset>
  </div>

</div>  <!-- /row -->
