<div class="row">
  <div class="col-sm-12">

    <%= form_with(model: proposal, url: { action: "#{proposal.new_record? ? 'create' : 'update'}", service_type: params[:service_type] }, local: true) do |f| %>

      <% input_disabled ||= false %>

      <%= form_errors_for proposal %>

      <%= render "form_1_basic", f: f, proposal: proposal %>
      <%= render "form_2_#{proposal.service_type}", f: f, proposal: proposal %>
      <%= render "form_3_areas", f: f, proposal: proposal if ['j','t'].include?(proposal.service_type) %>
      <%= render "form_4_attachments", f: f, proposal: proposal %>
      <%= render "form_5_schedules", f: f, proposal: proposal, start_date_read_only: false, end_date_read_only: false %>
      <%= render "form_6_note", f: f, proposal: proposal %>
      <%= render "form_7_status_comment", f: f, proposal: proposal %>

      <hr class="hr-with-minimum-margins">

      <div class="row">
        <div class="col-sm-12">

          <%= link_to proposal.new_record? ? proposals_path(params[:service_type]) : proposal_path(proposal.service_type, proposal), class: "btn btn-default" do %>
            <%= back_from_new_or_edit_legend %>
          <% end %>

          <%= f.submit nil, class: 'btn btn-success' %>

        </div> <!--/col-sm-12 -->
      </div> <!-- /row -->
      
    <% end %>

  </div> <!--/col-sm-12-->
</div>


<div id="myModal" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-lg" role="document">
    <div class="modal-content"></div>
  </div>
</div>
