<button class="sideber-button fa fa-chevron-right" onclick="changeSidebar(this)" title="<%=t('sidebar')%>" rel='tooltip'></button>

<div class="sidebar-content-small container-fluid">
  <div class="center"><%= proposal_icon_legend %></div>
  <hr>
   
  <div class="row">
    <div class="col-sm-12">

      <ul class="nav nav-pills brand-pills nav-stacked" role="tablist">

<!-- 
        <%# if proposal_policy_check(:proposal, 'new', params[:service_type]) %>
          <li role="presentation" class="brand-nav"><%#= link_to new_proposal_path(params[:service_type]), title: t('.new'), rel: 'tooltip' do %>
              <span class="fa fa-plus"></span>
            <%# end %>
          </li>
        <%# end %>

 -->
        <% if proposal_policy_check(:proposal, 'new', params[:service_type]) %>
          <li role="presentation" class="brand-nav"><%= link_to proposal_candidates_path, method: :create, service_type: params[:service_type], title: t('.new'), rel: 'tooltip' do %>
              <span class="fa fa-plus"></span>
            <% end %>
          </li>
        <% end %>

      </ul>

    </div>
  </div>

</div>    


<div class="sidebar-content-large hidden container-fluid">
  <div class="center"><%= proposal_index_legend(params[:service_type]) %></div>
  <hr>
  <div class="row">
    <div class="col-sm-12">

      <ul class="nav nav-pills brand-pills nav-stacked">
<!--    
        <%# if proposal_policy_check(:proposal, 'new', params[:service_type]) %>
        <%# if policy(:proposal).new? %>
          <li role="presentation" class="brand-nav"><%#= link_to new_proposal_path(params[:service_type]), title: t('.new'), rel: 'tooltip' do %>
            <span class="fa fa-plus"></span>
            <%#= t('helpers.links.new') %>
            <%# end %>
          </li>
        <%# end %>
 -->

        <% if proposal_policy_check(:proposal, 'new', params[:service_type]) %>
          <li role="presentation" class="brand-nav"><%= link_to proposal_candidates_path, method: :create, service_type: params[:service_type], title: t('.new'), rel: 'tooltip' do %>
              <span class="fa fa-plus"></span>
              <%= t('helpers.links.new') %>
            <% end %>
          </li>
        <% end %>

      </ul>

    </div>
  </div>

  <hr>
  <div class="row">
    <div class="col-sm-12">
      <div class="center"><%= fa_icon("list", size: '2x') %></div>
      <h3 class="center"><%= t('helpers.links.index') %></h3>
    </div>
  </div>


</div>
