<div class="row">
  <div class="col-sm-12">
    <%= form_with(model: organization, local: true) do |f| %>

      <% input_disabled ||= false %>

      <%= form_errors_for organization %>

      <div class="row">
        <!-- left  -->
        <div class="col-sm-6">

          <div class="row">
            <div class="form-group required col-sm-12">
              <%= f.label :name, class: 'control-label' %>
              <%= f.text_field :name, autofocus: true, class: 'form-control input-sm', disabled: input_disabled %>
            </div>

            <div class="form-group required col-sm-12">
              <%= f.label :legal_form_type_id, class: 'control-label' %>
              <%= f.select :legal_form_type_id, 
                    FeatureType.only_legal_form_type.order(:name).collect {|v| [ "#{v[:name]}", v[:id] ] },
                    { include_blank: false }, 
                    { autofocus: false, class: 'form-control input-sm', disabled: input_disabled } %>
            </div>

            <div class="form-group required col-sm-12"  data-toggle="popover_info" title="<%= Organization.human_attribute_name(:jst_legal_form_type) %>" data-content="<%= Organization.human_attribute_name(:jst_legal_form_type_popover_info) %>" data-placement= "top">
              <%= f.label :jst_legal_form_type_id, class: 'control-label' %>
              <%= f.select :jst_legal_form_type_id, 
                    FeatureType.only_jst_legal_form_type.order(:name).collect {|v| [ "#{v[:name]}", v[:id] ] },
                    { include_blank: false }, 
                    { autofocus: false, class: 'form-control input-sm', disabled: input_disabled } %>
            </div>
          </div>  <!-- /row -->

          <div class="row">
            <div class="col-sm-12">
              <fieldset class="my-fieldset">
                <legend class="my-fieldset"><%= t('organizations.fieldset.identifiers_title') %></legend>

                <div class='organization_features_01 clearfix'>

                  <div class='organization_features_01-sub-form'>
                    <%= f.fields_for :features do |organization_identifier_form|  %>
                      <%= render 'features/feature_identifier_fields', f: organization_identifier_form if (FeatureType.only_identifier_type.ids.include?(organization_identifier_form.object.feature_type_id) ) %> 
                    <% end %>
                  </div>
                  <%= link_to_add_fields( t("helpers.links.link_to_add_fields_nested"), f, :features, 'features/feature_identifier_fields') %>

                </div>

              </fieldset>
            </div> <!--/col-sm-12 -->

            <div class="col-sm-12">
              <fieldset class="my-fieldset">
                <legend class="my-fieldset"><%= t('organizations.fieldset.address_ext_title') %></legend>

                <div class='organization_features_02 clearfix'>

                  <div class='organization_features_02-sub-form'>
                    <%= f.fields_for :features do |organization_address_ext_form|  %>
                      <%= render 'features/feature_address_ext_fields', f: organization_address_ext_form if (FeatureType.only_address_ext_type.ids.include?(organization_address_ext_form.object.feature_type_id) )%> 
                    <% end %>
                  </div>
                  <%= link_to_add_fields( t("helpers.links.link_to_add_fields_nested"), f, :features, 'features/feature_address_ext_fields') %>

                </div>

              </fieldset>
            </div>             
          </div>  <!-- /row -->

          <div class="row">
            <div class="col-sm-12">
              <fieldset class="my-fieldset">
                <legend class="my-fieldset"><%= t('organizations.fieldset.addresses_title') %></legend>

                <div class='organization_address clearfix'>

                  <div class='organization_address-sub-form'>
                    <%= f.fields_for :addresses do |organization_address_form|  %>
                      <%= render 'addresses/address_fields', f: organization_address_form %> 
                    <% end %>
                  </div>
                  <%= link_to_add_fields( t("helpers.links.link_to_add_fields_nested"), f, :addresses, 'addresses/address_fields') %>

                </div>

              </fieldset>
            </div> 
          </div>  <!-- /row -->

          <div class="row">
            <div class="form-group col-sm-12">
              <%= f.label :note, class: 'control-label' %>
              <%= f.trix_editor :note %>
              <%#= f.text_area :note, :rows => 4, class: 'form-control input-sm' %>
            </div>
          </div>  <!-- /row -->

        </div>  <!-- /col-sm-6 -->


        <!-- rights  -->
        <div class="col-sm-6">

          <div class="row">
            <div class="col-sm-12">
              <fieldset class="my-fieldset">
                <legend class="my-fieldset"><%= t('organizations.fieldset.representatives_title') %></legend>

                <div class='representatives_04 clearfix'>

                  <div class='representatives_04-sub-form'>
                    <%= f.fields_for :representatives do |representative_form|  %>
                      <%= render 'representatives/representative_fields', f: representative_form if (FeatureType.only_representative_type.ids.include?(representative_form.object.representative_type_id) )%> 
                    <% end %>
                  </div>
                  <%= link_to_add_fields( t("helpers.links.link_to_add_fields_nested"), f, :representatives, 'representatives/representative_fields') %>

                </div>

              </fieldset>
            </div> 
          </div>  <!-- /row -->
          
        </div>  <!-- /col-sm-6 -->
      </div>  <!-- /row -->







      <hr class="hr-without-top-margin">

      <div class="row">
        <div class="col-sm-12">

          <%= link_to organization.new_record? ? organizations_path() : organization_path(organization.id), class: "btn btn-default" do %>
            <%= back_from_new_or_edit_legend %>
          <% end %>

          <%= f.submit nil, class: 'btn btn-success' %>

        </div> <!--/col-sm-12 -->
      </div> <!-- /row -->
      
    <% end %>

  </div> <!--/col-sm-12-->
</div>


<div id="myModal" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-lg" role="document">
    <div class="modal-content"></div>
  </div>
</div>
