<div id="tab_proposals">

  <% if policy(:proposal).index_j?  %>
    <fieldset class="my-fieldset">
      <legend class="my-fieldset colored-title"><%= subtitle %>&nbsp;&nbsp;-&nbsp;&nbsp;<%= proposal_index_legend( "j" ) %></legend>

      <div class="row">
        <div class="col-sm-1">
          <p><strong><%= Proposal.human_attribute_name(:insertion_date) %></strong></p>
        </div>

        <div class="col-sm-2">
          <p><strong><%= Proposal.human_attribute_name(:proposal_type) %></strong></p>
        </div>

        <div class="col-sm-1">
          <p><strong><%= Proposal.human_attribute_name(:proposal_status) %></strong></p>
        </div>

        <div class="col-sm-1">
          <p><strong><%= Proposal.human_attribute_name(:approved_date) %></strong></p>
        </div>

        <div class="col-sm-1">
          <p><strong><%= Proposal.human_attribute_name(:rejected_date) %></strong></p>
        </div>

        <div class="col-sm-1">
          <p><strong><%= Proposal.human_attribute_name(:annuled_date) %></strong></p>
        </div>

        <div class="col-sm-5">
          <p><strong><%= Proposal.human_attribute_name(:author) %></strong></p>
        </div>
      </div>

      <hr class="hr-without-top-margin">

      <div class="row">
        <div id="div_proposals_j"></div>
      </div>
   
    </fieldset>
  <% end %>


  <% if policy(:proposal).index_p?  %>
    <fieldset class="my-fieldset">
      <legend class="my-fieldset colored-title"><%= subtitle %>&nbsp;&nbsp;-&nbsp;&nbsp;<%= proposal_index_legend( "p" ) %></legend>

      <div class="row">
        <div class="col-sm-1">
          <p><strong><%= Proposal.human_attribute_name(:insertion_date) %></strong></p>
        </div>

        <div class="col-sm-2">
          <p><strong><%= Proposal.human_attribute_name(:proposal_type) %></strong></p>
        </div>

        <div class="col-sm-1">
          <p><strong><%= Proposal.human_attribute_name(:proposal_status) %></strong></p>
        </div>

        <div class="col-sm-1">
          <p><strong><%= Proposal.human_attribute_name(:approved_date) %></strong></p>
        </div>

        <div class="col-sm-1">
          <p><strong><%= Proposal.human_attribute_name(:rejected_date) %></strong></p>
        </div>

        <div class="col-sm-1">
          <p><strong><%= Proposal.human_attribute_name(:annuled_date) %></strong></p>
        </div>

        <div class="col-sm-5">
          <p><strong><%= Proposal.human_attribute_name(:author) %></strong></p>
        </div>
      </div>

      <hr class="hr-without-top-margin">

      <div class="row">
        <div id="div_proposals_p"></div>
      </div>

    </fieldset>
  <% end %>



  <% if policy(:proposal).index_t?  %>
    <fieldset class="my-fieldset">
      <legend class="my-fieldset colored-title"><%= subtitle %>&nbsp;&nbsp;-&nbsp;&nbsp;<%= proposal_index_legend( "t" ) %></legend>

      <div class="row">
        <div class="col-sm-1">
          <p><strong><%= Proposal.human_attribute_name(:insertion_date) %></strong></p>
        </div>

        <div class="col-sm-2">
          <p><strong><%= Proposal.human_attribute_name(:proposal_type) %></strong></p>
        </div>

        <div class="col-sm-1">
          <p><strong><%= Proposal.human_attribute_name(:proposal_status) %></strong></p>
        </div>

        <div class="col-sm-1">
          <p><strong><%= Proposal.human_attribute_name(:approved_date) %></strong></p>
        </div>

        <div class="col-sm-1">
          <p><strong><%= Proposal.human_attribute_name(:rejected_date) %></strong></p>
        </div>

        <div class="col-sm-1">
          <p><strong><%= Proposal.human_attribute_name(:annuled_date) %></strong></p>
        </div>

        <div class="col-sm-5">
          <p><strong><%= Proposal.human_attribute_name(:author) %></strong></p>
        </div>
      </div>

      <hr class="hr-without-top-margin">

      <div class="row">
        <div id="div_proposals_t"></div>
      </div>

    </fieldset>
  <% end %>

</div>
