<button class="sideber-button fa fa-chevron-right" onclick="changeSidebar(this)" title="<%=t('sidebar')%>" rel='tooltip'></button>

<div class="sidebar-content-small container-fluid">
  <div class="center"><%= organization_icon_legend %></div>
  <hr>

  <div class="row">
    <div class="col-sm-12">

      <ul class="nav nav-pills brand-pills nav-stacked" role="tablist">


        <li role="presentation" class="brand-nav active" title="<%= t('helpers.links.show') %>" rel='tooltip'>
          <a href="#organization_show" aria-controls="organization_show" role="tab" data-toggle="tab"><%= organization_icon_legend %></a>
        </li>

        <%# if policy(:proposal).index_j? || policy(:proposal).index_p? || policy(:proposal).index_t? %>
          <li role="presentation" class="brand-nav" title="<%= t('proposals.index.title') %>" rel='tooltip'>
            <a href="#proposals" aria-controls="proposals" role="tab" data-toggle="tab"><%= proposal_icon_legend %></a>
          </li>
        <%# end %>

        <%# if policy(:register).index? %>
          <li role="presentation" class="brand-nav" title="<%= t('registers.index.title') %>" rel='tooltip'>
            <a href="#registers" aria-controls="registers" role="tab" data-toggle="tab"><%= register_icon_legend %></a>
          </li>
        <%# end %>

        <% if policy(@organization).work? %>
          <li role="presentation" class="brand-nav" title="<%= t('works.index.title') %>" rel='tooltip'>
            <a href="#works" aria-controls="works" role="tab" data-toggle="tab"><%= work_icon_legend %></a>
          </li>
        <% end %>

        <%# if policy(:organization).index? %>
          <hr>
          <li role="presentation" class="brand-nav"><%= link_to organizations_path, title: t('.index'), rel: 'tooltip' do %>
            <span class="fa fa-list"></span>
            <% end %>
          </li>
        <%# end %>

      </ul>

    </div>
  </div>

</div>    


<div class="sidebar-content-large hidden container-fluid">
  <div class="center"><%= organization_legend %></div>
  <hr>
  <div class="row">
    <div class="col-sm-12">

      <ul class="nav nav-pills brand-pills nav-stacked" role="tablist">


        <li role="presentation" class="brand-nav active" title="<%= t('helpers.links.show') %>" rel='tooltip'>
          <a href="#organization_show" aria-controls="organization_show" role="tab" data-toggle="tab"><%= organization_show_legend %></a>
        </li>

 
        <%# if policy(:proposal).index_j? || policy(:proposal).index_p? || policy(:proposal).index_t? %>
          <li role="presentation" class="brand-nav brand-nav-level-1" title="<%= t('proposals.index.title') %>" rel='tooltip'>
            <a href="#proposals" aria-controls="proposals" role="tab" data-toggle="tab"><%= proposal_index_legend %></a>
          </li>
        <%# end %>

        <%# if policy(:register).index? %>
          <li role="presentation" class="brand-nav brand-nav-level-1" title="<%= t('registers.index.title') %>" rel='tooltip'>
            <a href="#registers" aria-controls="registers" role="tab" data-toggle="tab"><%= register_index_legend %></a>
          </li>
        <%# end %>

        <% if policy(@organization).work? %>
          <li role="presentation" class="brand-nav brand-nav-level-1" title="<%= t('works.index.title') %>" rel='tooltip'>
            <a href="#works" aria-controls="works" role="tab" data-toggle="tab"><%= work_index_legend %></a>
          </li>
        <% end %>  

        <hr>
        <li role="presentation" class="brand-nav"><%= link_to organizations_path, title: t('.index'), rel: 'tooltip' do %>
            <%= back_to_index_legend %>
          <% end %>
        </li>


      </ul>

    </div>
  </div>

  <hr>
  <div class="row">
    <div class="col-sm-12">
      <div class="center"><%= fa_icon("eye", size: '2x') %></div>
      <h3 class="center"><%= t('helpers.links.show') %></h3>
    </div>
  </div>


</div>