<div class="grid-container">

  <div class="sidebar">
    <%= render 'sidebar_index' %>
  </div>

  <div class="main-content">
    <div class="container-fluid">

      <div class="row">
        <div class="col-sm-12">
          <h3 class="center colored-title index-title"><%= organization_index_legend %></h3>
        </div> <!--/col-sm-12 -->
      </div> <!--/row -->

      <div class="row">
        <div class="col-sm-12">
          <table id="organizations-table" class="hover cell-border" cellspacing="0" width="100%" 
            data-source="<%= datatables_index_organizations_path(format: :json) %>",
            data-locale_url="<%= datatables_lang_path(format: :json) %>"
            data-index_in_role="<%= index_in_role %>">
            <thead>
              <tr>
                <th>ID</th>
                <th><%= Organization.human_attribute_name(:name) %></th>
                <th><%= Organization.human_attribute_name(:jointly_identifiers) %></th>
                <th><%= Organization.human_attribute_name(:jointly_addresses) %></th>
                <th><%= Organization.human_attribute_name(:jointly_addresses_ext) %></th>
                <th><%= Organization.human_attribute_name(:note) %></th>
<!--            <th><%#= Organization.human_attribute_name(:author) %></th> -->
              </tr>
            </thead>

            <tbody>
               <!--data from JSON -->
            </tbody>
          </table>
        </div> <!--/col-sm-12 -->
      </div> <!--/row -->


    </div> <!--/container-fluid--> 
  </div> <!--/main-content--> 

</div> <!--/grid-containe--> 

